.circular-area {
  width: 9vh; /* Set the width of the circle */
  height: 9vh; /* Set the height of the circle */
  border-radius: 50%; /* Make it circular */
  background-color: lightgreen; /* Background color */
  position: relative; /* Allow positioning of chips inside */
  border: 2px solid rgb(234, 242, 234); /* Border color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip {
  width: 3.7vh;
  height: 3.7vh;
  font-size: 1.5vh;
  text-align: center;
  background-color: red;
  color: rgb(250, 250, 250);
  border-radius: 50%;
}

p {
 line-height: 3.5vh;
 height: 3.5vh;
}